/*CSS principal para todo documento frontend*/



* {

	margin: 0;

	padding: 0;

}



a {

	/*color: #333;*/

	text-decoration: none;

}



img{

	border:0px;

}



a:hover {

	text-decoration: underline;

	color: #999;

}



body {

	font-family:Arial, Helvetica, sans-serif;	

	background-image: url(../../common/images/background.jpg);

	background-repeat: repeat;

}



/* REGRAS PARA OS DADOS DA SESSÃO */

div#sessao{

	width:980px;

	height:55px;

	margin:0 auto;

}



div#sessao div#dados_sessao{

	float:right;

	width:230px;

	height:50px;

	text-align:right;

	margin-top:2px;

	margin-right:5px;

	color:#939598;

	font-size:14px;

}



div#dados_sessao a{

	text-decoration:underline;

	color:#939598;

	margin-left:10px;

}



div#dados_sessao a:hover{

	text-decoration:overline;

}



/*CSS do menu backend*/



#corpoMenu{

	width:100%;

	height:110px;

	background: url(../../common/images/bg_menu.jpg) repeat-x;

}



#corpoMenu .menu{

	width:980px;

	height:110px;

	margin:auto;

}



#corpoMenu .menu .logomarca{

	width:310px;

	height:110px;

	float:left;

}



#corpoMenu .menu .logomarca img{

	border:none;

}



#corpoMenu .menu .botoesMenu{

	width:670px;

	height:110px;

	float:left;

}



.botoesMenu li.home{

	width:96px;

	height:105px;

	display:block;

	float:left;

}



.botoesMenu li.home a{

	width:96px;

	height:105px;

	display:block;

	float:left;

	background:transparent url(../../common/images/bt_home.jpg) no-repeat scroll center top;

}



.botoesMenu li.home a:hover{

	background-position:center -105px !important;

}





.botoesMenu li.agenda{

	width:95px;

	height:105px;

	display:block;

	float:left;

}



.botoesMenu li.agenda a{

	width:95px;

	height:105px;

	display:block;

	float:left;

	background:transparent url(../../common/images/bt_agenda.jpg) no-repeat scroll center top;

}



.botoesMenu li.agenda a:hover{

	background-position:center -108px !important;

}





.botoesMenu li.relatorios{

	width:130px;

	height:105px;

	display:block;

	float:left;

}



.botoesMenu li.relatorios a{

	width:138px;

	height:105px;

	display:block;

	float:left;

	background:transparent url(../../common/images/bt_relatorios.jpg) no-repeat scroll center top;

}



.botoesMenu li.relatorios a:hover{

	background-position:center -108px !important;	

}



.botoesMenu li.gestor{

	width:123px;

	height:105px;

	display:block;

	float:left;

}



.menu li.gestor a{

	width:91px;

	height:105px;

	display:block;

	float:left;

	background:transparent url(../../common/images/bt_gestor.jpg) no-repeat scroll center top;

}



.menu li.gestor a:hover{

	background-position:center -108px !important;

}





/* CORPO DO CONTEÚDO */

div#conteudo{

	width:980px;

	height:100%;

	overflow:auto;

	margin:58px auto;

}



/* MENU LATERAL */





/* editado por anderson */

div#conteudo div#nav{

	float:left;

	width:200px;

	height:100%;

	margin-right:17px;

	/*background: url(../../common/images/bg_topmenu.png) repeat;*/

	background: #FFF;	
	
	/* editado por anderson*/
	position:relative; 
	
	height:auto;

}

/* fim trecho editado por cristiano */



div#conteudo ul.menu  {

	list-style-type: none;

}



/* editado por Cristiano */



div#conteudo ul.menu li h2 {

	background: url(../../common/images/bt_menu_lateral.png);

	height: 36px;

	color: #023E88;

	padding-top: 10px;		

	padding-left: 25px;

	font-size: 20px;

	

}



div#conteudo ul.menu li h2:hover {

	color: #FFF;

	background: url(../../common/images/bt_menu_lateral_hover.png);

	/*

	height: 36px;	

	padding-top: 10px;		

	padding-left: 25px;

	font-size: 20px;

	*/

}



/* fim do trecho editado por Cristiano */



div#conteudo ul.menu li .submenu {

	display: none;

}



div#conteudo ul.menu li{

	list-style-type:none;

}



div#conteudo ul.menu{

	cursor:pointer;

}



div#conteudo ul.menu h2{

	margin-top:4px;

}



div#conteudo ul.menu p{

	margin-left:26px;

}



div#conteudo ul.menu a{

	color:#023e88;

}



div#nav ul li .submenu li a{

	display:block;

	color:#325e94;

}



div#nav ul li h2 img{

	width:224px;

	height:46px;

}



/* Editado por Cristiano Valena */

div#nav ul li#top_menu{

	width:100%;

	height:67px;

	/*background: url(../../common/images/bg_topmenu.png) repeat-x;*/

	background: #FFF;

	margin-bottom:0px;

}



div#nav ul li#top_menu div#dados{	

	margin:10px 0px 0px 10px;

	background: url(../../common/images/titulo_geral3.png);

	min-height: 58px;

	width: 214px;

}



div#nav ul li#top_menu div#dados h1{

        padding-top: 13px;

	padding-left: 20px;

	color: #023E88;

	font-size: 13px;

}



div#nav ul li#top_menu div#dados p{

	padding-left: 20px;

	color: #023E88;

	font-size: 12px;

}



div#nav ul li#top_menu div#dados a{

        float: left;

	margin-left: 20px;

	color: #023E88;

	font-size: 12px;

}



/* Fim do trecho editado por Cristiano Valena */











/* CONTEUDO DO ADMIN - SERVE PARA TODAS AS PÁGINAS DO ADMIN */

div#conteudo div#box_conteudo{

	float:left;

	width:738px;

	height:100%;

	background:#fff;

	padding-bottom:40px;	

}





/* DICAS */





a.tooltip span {

	display:none; padding:2px 3px; margin-left:8px; width:130px;

}



a.tooltip:hover span{

	display:inline; position:absolute; background:#ffffff; border:1px solid #cccccc; color:#6c6c6c;

}



/* Editado por Cristiano */



div#box_conteudo div#tituloGeral{

	float:left;	

	width:615px;

	min-height:58px;

	margin:10px 0px 30px 10px;

	background: url(../../common/images/titulo_geral3.png);

}



div#box_conteudo div#tituloGeral h2{

	color: #023E88;

	padding-top: 23px;		

	padding-left: 30px;

	font-size: 23px;

}



/* Fim do trecho editado por Cristiano */



div#box_conteudo img.titulo{

	float:right;

	width:728px;

	height:58px;

	margin:10px 0px 30px 10px;

}



div#box_conteudo img#relatorios{

	width:615px;

}



div#box_conteudo img#cadastro{

	width:615px;

}



div#box_conteudo img#agenda{

	width:615px;

}



div#box_conteudo img#list_alunos{

	width:615px;

}



div#box_conteudo a img#dicas{

	float:right;

	width:113px;

	border:0px;

	margin:10px 0px;

}



div#desenpenho{	

	padding:1px 20px;

        margin:0;

        position:fixed;

        top: 0;

        /*bottom: 0;*/

        right: 0;

        color: #FFF;

        font-size: 8px;

        font-family: Verdana,Tahoma;

        z-index: 9999;

        background: url(../../common/images/transp.png);

        -moz-border-radius: 10px;

        -webkit-border-radius: 10px;

}





/* RODAP */



div#envolve_rodape{

	width:100%;

	height:181px;

	background:url(../../common/images/bg_rodape.png) repeat-x;

}



div#envolve_rodape div#box_rodape{

	width:980px;

	height:150px;

	background:	none;

	padding-top:28px;

	margin:0 auto;

}



div#box_rodape div#assinatura{

	width:372px;

	height:100%;

	background:	none;

	float:left;

	font-style:italic;

	font-size:15px;

}



div#assinatura ul{

	width:100%;

	list-style:none;

	margin-top:15px;

	color:#6d6e71;

}



div#assinatura ul li{

	display:block;

	float:left;

	margin-right:5px;

}



div#assinatura ul li a{

	float:left;

	color:#6d6e71;

	text-decoration:none;

}



div#assinatura ul li a:hover{

	text-decoration:underline;

}



div#assinatura p{

	float:left;

	color:#a7a9ac;

	font-size:13px;

	margin-top:5px;

}



img#separador_rodape{

	float:left;

	width:2px;

	height:157px;

	margin-left:240px;

}



div#endereco{

	float:right;

	color:#7e7c7c;

	font-size:13px;

	background:none;

	width:268px;

	height:73px;

	margin-top:85px;

	text-align:right;

}

div#endereco p#telefone{

	margin-top:10px;

	font-size:16px;

}



/* FIM RODAPÉ */



/*** LINK PADDING FOR ICONS ***/

a[href^="http:"],

a[href^="mailto:"],

a[href$=".pdf"],

a[href$=".doc"],

a[href$=".xls"],

a[href$=".rss"],

a[href$=".rdf"],

a[href^="aim:"] { padding:2px 22px 2px 0; margin:-2px 0; background-repeat: no-repeat; background-position: right center; }



/*** EXTERNAL LINK ICONS ***/

a[href^="http:"]          { background-image: url(../../common/images/icons/external.png); padding-right: 14px; }

a[href^="mailto:"]        { background-image: url(../../common/images/icons/email.png); }

a[href^="http:"]:visited  { background-image: url(../../common/images/icons/visited.png); }



/*** FILE LINK ICONS ***/

a[href$=".pdf"]   { background-image: url(../../common/images/icons/pdf.png); }

a[href$=".doc"]   { background-image: url(../../common/images/icons/doc.png); }

a[href$=".xls"]   { background-image: url(../../common/images/icons/xls.png); }



/*** MISCELLANEOUS LINK ICONS ***/

a[href$=".rss"],

a[href$=".rdf"]   { background-image: url(../../common/images/icons/feed.png); }

a[href^="aim:"]   { background-image: url(../../common/images/icons/im.png); }

a[href^="http://www.webgenius.com.br"] { background:none; padding:0; margin:0; }