/* ESCONDE A IMAGEM DE DICAS, DEFININDO A COR E O TAMANHO DA FONTE  */
.tooltip {
	display:none;
	background:transparent url(../../common/images/box_dicas.png) no-repeat;
	font-size:13px;
	height:270px;
	width:264px;
	padding:120px 0px 0px 35px;
	position: absolute;
	padding-top: 30px;
}

/* ELEMENTO P (PARAGRAFO)É ONDE O TEXTO DE DICAS DEVERÁ SER ESCRITO  */
.tooltip p{
	width:220px;
	color:#023f89;
	text-align:justify;
	font-style:italic;
}

/* TIRA A BORDA DA IMAGEM DE DICAS, DEFINE A MARGEM E O TIPO DE CURSOR */
#box_tooltip img {
	border:0;
	cursor:pointer;
	margin:0px 0px;
	height: 145px;
	width: 1000px;
	position: relative;
}