#tabnav {
	width: 718px;
	margin: 0 auto;
}
 
#tabs {
	height: 29px;
	position: relative;
}
 
#content {
	position: relative;
	padding: 20px;
}
 
#content div p {
	font-family: Trebuchet MS, Arial, Verdana;
	font-size: 12px;
}
 
#tabs a, #tabs a:visited {
	display: block;
	width: 239px;
	height: 29px;
	margin: 0 0px 0 0;
	float: left;
}