div#envolve_formularios{        
	width:718px;
	min-height:290px;
	margin-left:10px;       
	overflow:hidden;
	}
/* root element for tabs  */.tabs {    list-style:none;        margin:0px auto auto 10px !important;   padding:0;      height:30px;    /*border-bottom:1px solid #666;*/
}
/* single tab */.tabs li {    float:left;     text-indent:0;  padding:0;      margin:0 !important;    list-style-image:none !important;
}
/* link inside the tab. uses a background image */.tabs a {   background: url(../../common/images/tabs.png) no-repeat -652px 0;       font-size:11px; display:block;  height: 30px;   line-height:30px;       width: 111px;   text-align:center;      text-decoration:none;   color:#000;     padding:0px;    margin:0px;     position:relative;      top:1px;
}
.tabs a:active {       outline:none;
}
/* when mouse enters the tab move the background image */.tabs a:hover {  background-position: -652px -31px;      color:#fff;
}
/* active tab uses a class name "current". it's highlight is also done by moving the background image. */.tabs .current, .tabs .current:hover, .tabs li.current a { background-position: -652px -62px;      cursor:default !important;      color:#000 !important;
}
/* Different widths for tabs: use a class name: w1, w2, w3 or w2 *//* width 1 */.tabs .w1 {    background-position: -519px 0; width:134px;
}
.tabs .w1:hover {    background-position: -519px -31px;
}
.tabs .w1.current {    background-position: -519px -62px;
}
/* width 2 */.tabs .w2 {    background-position: -366px -0px; width:154px;
}
.tabs .w2:hover {    background-position: -366px -31px;
}
.tabs .w2.current {    background-position: -366px -62px;
}
/* width 3 */.tabs .w3 {    background-position: -193px -0px; width:174px;
}
.tabs .w3:hover {    background-position: -193px -31px;
}
.tabs .w3.current {    background-position: -193px -62px;
}
/* width 4 */.tabs .w4{    background-position: -0px -0px; width:194px;
}
.tabs .w4:hover{    background-position: -0px -31px;
}
.tabs .w4.current{    background-position: -0px -62px;
}
/* initially all panes are hidden */.panes .pane {    display:none;        
}
.panes div.subpanes{    background: url(../../common/images/content_top.jpg) no-repeat;    width: 718px;  min-height: 150px;
}
/* TABS */ul.css-tabs {      margin-bottom: 20px;    padding:0;      height:30px;
}
ul.css-tabs li {   float:left;             padding:0;      margin:0;       list-style-type:none;   
}
ul.css-tabs a {        float:left;     display:block;  margin-right:2px;       position:relative;
}
ul.css-tabs li a img{        border:0;       width:237px;    height:29px;
}
/* form style */.form {        width:650px;        margin:0 auto;        padding:15px 20px;
}
/* nested fieldset */.form fieldset {  border:0;       margin:0;       padding:0;      
}
.form fieldset label {        margin-bottom: 5px;    margin-right: 20px;    float: left;    width: 300px;
}
/* typography */.form h3 {        margin-top:0px;
}
.form p {    font-size:11px;
}
/* input field */.form input {        width: 290px;   border:1px solid #444;        background-color: #ccc;   padding:5px;    /*color:#ddd;*/        color:#FFF;      font-size:12px; /* CSS3 spicing */      -moz-border-radius:4px; -webkit-border-radius:4px;      text-shadow:1px 1px 1px #000;
}
.form input:focus {    color: #fff;    background-color: #5B7580;    border: 1px #023E87 solid;    text-shadow:1px 1px 1px #000;    font-weight: bold;    /*text-shadow: none;*/
}
.form input:active {    background-color:#888;
}
/* textarea field */
.form textarea {        
	width: 290px; 
	border:1px solid #444;        
	background-color: #ccc;   
	padding:5px;    
	/*color:#ddd;*/        
	color:#FFF;      
	font-size:12px; 
	/* CSS3 spicing */      
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;      
	text-shadow:1px 1px 1px #000;
}

.form textarea:focus {    
	color: #fff;    
	background-color: #5B7580;    
	border: 1px #023E87 solid;    
	text-shadow:1px 1px 1px #000;    
	font-weight: bold;    
	/*text-shadow: none;*/
}

.form textarea:active {    
	background-color:#888;
}
/* select field */
.form select {        
	width: 300px; 
	border:1px solid #444;        
	background-color: #ccc;   
	padding:5px;    
	/*color:#ddd;*/        
	color:#FFF;      
	font-size:12px; 
	/* CSS3 spicing */      
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;      
	text-shadow:1px 1px 1px #000;
}

.form select:focus {    
	color: #fff;    
	background-color: #5B7580;    
	border: 1px #023E87 solid;    
	text-shadow:1px 1px 1px #000;    
	font-weight: bold;    
	/*text-shadow: none;*/
}

.form select:active {    
	background-color:#888;
}

.form div.barraForm {    margin-top: 10px;    float: left;
}
/* button *//*.form button {    margin-right: 15px;        border:1px solid #666;        padding: 5px;    cursor: pointer;    -moz-border-radius:4px;    -webkit-border-radius:4px;    -moz-box-shadow:0 0 8px #000;    -webkit-box-shadow:0 0 8px #000;
}
.form button.reset {    background: #FFFE36;    border:1px solid #666;
}
.form button.submit {    background: #99ff66;    
}
.form button:hover{
}
*/a.button, button {  display: inline-block;  float: left;  margin:0 0.583em 0.667em 0;  padding:5px 10px 5px 7px;   /*** Links ***/  border:1px solid #dedede;  border-top:1px solid #eee;  border-left:1px solid #eee;  background-color:#f5f5f5;  font-family:"Liberation Sans", Helvetica, Arial, sans-serif;  font-size:100%;  line-height:130%;  text-decoration:none;  font-weight:bold;  color:#565656;  cursor:pointer;
}
button { width:auto; overflow:visible; padding:4px 10px 3px 7px; 
}
button[type] { padding:4px 10px 4px 7px; line-height:17px; 
}
*:first-child+html .container button[type] { padding:4px 10px 3px 7px; 
}
button img, a.button img{ margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; float:none; 
}
/*** STANDARD BUTTONS ***/button:hover, a.button:hover{ background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699; 
}
a.button:active, button:active{ background-color:#6299c5; border:1px solid #6299c5; color:#fff; 
}
/*** POSITIVE (LIGHT BACKGROUND) ***/body .positive { color:#529214; 
}
a.positive:hover, button.positive:hover { background-color:#E6EFC2; border:1px solid #C6D880; color:#529214; 
}
a.positive:active, button.positive:active { background-color:#529214; border:1px solid #529214; color:#fff; 
}
/*** NEGATIVE (DARK BACKGROUND)***/body .negative { color:#d12f19; 
}
a.negative:hover, button.negative:hover { background:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19; 
}
a.negative:active, button.negative:active { background-color:#d12f19; border:1px solid #d12f19; color:#fff; 
}
/* error message */.error {  height:15px;    background-color:#FFFE36;       font-size:11px; border:1px solid #E1E16D;       padding:4px 10px;       color:#000;     margin-left:-2px;       -moz-border-radius:4px; -webkit-border-radius:4px;      -moz-border-radius-bottomleft:0;        -moz-border-radius-topleft:0;   -webkit-border-bottom-left-radius:0;    -webkit-border-top-left-radius:0;       -moz-box-shadow:0 0 6px #ddd;   -webkit-box-shadow:0 0 6px #ddd;
}
/* field label */label {       display:block;  font-size:11px; color:#777;
}
#terms label {      float:left;
}
#terms input {      margin:0 5px;
}
/* error container */#errors {    background-color:#163356;       color:#fff;     width:600px;    padding:20px;   margin:5px auto;        display:none;   -moz-border-radius:5px; -webkit-border-radius:5px;                font-size:11px;
}
/* title */#errors h2 {       margin:-5px 0;  color:yellow;
}