/* Definições para a página de contato */
div#contato{
	float:left;
	width:290px;
	height:100%;
	margin-left:105px;	
	font-style:italic;
	color:#808285;
}

div#contato h2{
	font-size:20px;
	color:#808285;
	margin-top:145px;
}

div#contato p{
	padding:0px;
	margin-top:20px;
}

div#contato p.negrito{
	font-weight:bold;
	margin-top:0px;
	font-size:18px;
}


/* Separador */
div#separador{
	float:left;
	width:3px;
	height:450px;
	background:#d9d9d9;
	margin:30px 68px;
}


/* Regras para o formulario de contato */
div#box_form{
 float:left;
 width:310px;
 height:255px;
 margin-top:110px;
}

div#box_form h4{
	text-align:right;
	font-size:16px;
	color:#808285;
	margin-bottom:5px;
}

div#box_form div.caixa_contato{
	width:300px;
	height:28px;
	margin-bottom:5px;
}

div.caixa_contato input{
	width:300px;
	height:28px;
	border:0px;
	color:#808285;
	font-style:italic;
	font-size:16px;
}

div.txarea_contato{
	width:313px;
	height:94px;
	margin-bottom:10px;
}

div.txarea_contato textarea{
	width: 300px;
	height:100px;
	border:0px;
	color:#808285;
	font-family:Arial;
	font-style:italic;
	font-size:16px;
}

div#btn_contato{
	float:right;
	width:94px;
	height:20px;
	margin-top:5px;
}