/*CSS principal para todo documento frontend*/

* {
	margin: 0;
	padding: 0;
}

a {
	/*color: #333;*/
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #999;
}

img{
	border:0;
}

body {
	font-family:Arial, Helvetica, sans-serif;	
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
}


/* PÁGINA INICIAL */
div#envolve_login{
	width:100%;
	height:159px;
	background:transparent url(../images/bg_home.png) repeat-x;
	margin-top:13%;
	margin-bottom:100px;
}

div#envolve_login div#centraliza_login{
	width:965px;
	height:159px;
	margin:0 auto;
	/*background:#ccc;*/
}

div#centraliza_login div#logo_home{
	float:left;
	width:363px;
	height:159px;
}


/* CHAVES */
div#centraliza_login div#chaves{
	float:left;
	width:51px;
	height:138px;
	background:url(../images/chaves.png) no-repeat;
	margin-left:15px;
}

/* FORMULARIO DE LOGIN E SENHA */
div#centraliza_login div#form_login{
	float:left;
	width:258px;
	height:105px;
	margin-top:35px;
	margin-left:20px;
	/*background:#333;*/
}

div#form_login form p{
	color:#fff;
	font-style:italic;
	margin-bottom:5px;
}

div#form_login form p label{
	font-size:13px;
}

div#form_login form p input{
	width:208px;
	height:30px;
	border:0px;
}

div#form_login form p input#login{
	margin-left:6px;
}

div#form_login form p input#btn_entrar{
	float:right;
	width:95px;
	height:19px;
	margin-right:3px;
}


div#centraliza_login div#mensagem{
	float:right;
	width:240px;
	height:80px;
	font-style:italic;
	text-align:right;
	font-size:14px;
	margin-top:36px;
	color:#fff;
}

/* MENSAGEM DO ADMIN */
div#mensagem p{
	margin-bottom:14px;
	color:#fff;
}

div#mensagem a{
	text-decoration:underline;
	color:#fff;
}


/*CSS do menu frontend das páginas Quem Somos, Produtos e Contatos*/

#corpoMenu{
	width:100%;
	height:110px;
	margin-top:110px;
	background-image:url(../images/bg_menu.jpg);
}

#corpoMenu .menu{
	width:980px;
	height:110px;
	margin:auto;
}

#corpoMenu .menu .logomarca{
	width:310px;
	height:110px;
	float:left;
}

#corpoMenu .menu .logomarca img{
	border:none;
}

#corpoMenu .menu .botoesMenu{
	width:670px;
	height:110px;
	float:left;
}

.botoesMenu li.home{
	width:96px;
	height:105px;
	display:block;
	float:left;
}

.botoesMenu li.home a{
	width:96px;
	height:105px;
	display:block;
	float:left;
	background:transparent url(../images/bt_home.jpg) no-repeat scroll center top;
}

.botoesMenu li.home a:hover{
	background-position:center -105px !important;
}


.botoesMenu li.quemSomos{
	width:163px;
	height:105px;
	display:block;
	float:left;
}

.botoesMenu li.quemSomos a{
	width:163px;
	height:105px;
	display:block;
	float:left;
	background:transparent url(../images/bt_quemSomos.jpg) no-repeat scroll center top;
}

.botoesMenu li.quemSomos a:hover{
	background-position:center -105px !important;
}


.botoesMenu li.produtos{
	width:138px;
	height:105px;
	display:block;
	float:left;
}

.botoesMenu li.produtos a{
	width:138px;
	height:105px;
	display:block;
	float:left;
	background:transparent url(../images/bt_produtos.jpg) no-repeat scroll center top;
}

.botoesMenu li.produtos a:hover{
	background-position:center -105px !important;	
}

.botoesMenu li.contato{
	width:123px;
	height:105px;
	display:block;
	float:left;
}

.menu li.contato a{
	width:123px;
	height:105px;
	display:block;
	float:left;
	background:transparent url(../images/bt_contato.jpg) no-repeat scroll center top;
}

.menu li.contato a:hover{
	background-position:center -105px !important;
}



/* QUEM SOMOS */
div#top_border, div#box_pg_internas, div#bottom_border, div#rodape{
	width:960px;
	margin:0 auto;
}

div#top_border{
	height:14px;
	background:url(../images/top_quem_somos.png) no-repeat;
	margin-top:22px;
}

div#box_pg_internas{
	height:100%;
	background:url(../images/bgcorpo.png) repeat;
	overflow:hidden;
}

div#bottom_border{
	height:18px;
	background:url(../images/bottom_quem_somos.png) no-repeat;
	margin-bottom:40px;
}

div#box_pg_internas h1{
	padding:10px 0px 32px 20px;
	color:#6d6e71;
	font-size:24px;
	font-style:italic;
	width:100%;
}

div#box_pg_internas p{
	padding:10px 20px;
	color:#939598;
	font-size:14px;
	text-align:justify;
	line-height:22px;
}

div#box_pg_internas p span{
	font-style:italic;
	color:#6d6e71;
}

div#rodape{
	background:none;
	height:60px;
	margin-bottom:100px;
	text-align:center;
	font-size:15px;
}

div#rodape p{
	color:#6d6e71;
	font-style:italic;
	margin-bottom:10px;
}

div#rodape a{
	color:#6d6e71;
	margin:0 10px;
}