div#box_pg_internas p#produtos{
	width:726px;
	float:left;
	background:none;
}

div#box_pg_internas div#galeria_produtos{
	width:185px;	
	height:100%;
	background:none;
	float:right;
	margin-right:6px;
}
	
div#galeria_produtos div.fotos{
	width:183px;
	height:109px;
	background:none;
	border:1px solid #bcbec0;
	margin-bottom:6px;
}

div.fotos img{
	width:181px;
	height:107px;
	background:none;
	margin:1px;
}