/* ESCONDE A IMAGEM QUE DE DICAS, DEFINIE A COR E TAMANHO DA FONTE  */
.tooltip {
	display:none;
	background:url(../images/balao_saiba_mais.png) no-repeat;
	font-size:13px;
	width:631px;
	height:269px;
	padding:10px 0px 0px 35px;
}

.tooltip h1{
	font-size:18px;
	margin-bottom:10px;
}

/* ELEMENTO P (PARAGRAFO)É ONDE O TEXTO DE DICAS DEVERÁ SER ESCRITO  */
.tooltip p{
	width:550px;
	text-align:justify;
}

.tooltip h1, p{
	color:#939598;
	font-style:italic;
}

/* TIRA A BORDA DA IMAGEM DE DICAS, DEFINE A MARGEM E O TIPO DE CURSOR */
#box_tooltip img {
	border:0;
	cursor:pointer;
	margin:0px 8px;
}