
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iTech - Página em desenvolvimento</title>
</head>

<body>
<p>Página em desenvolvimento. Marcos Rosa</p>


<p>Cadastro usuário: <a href="usuario/cadastro.php">Cadastar usuário - Método antigo</a></p>
<p>Cadastro usuário: <a href="usuarioAdd.php">Cadastar usuário - Novo método, em desenvolvimento</a></p>

<p>Cadastro projeto: <a href="projetoAdd.php">Cadastar projeto</a></p>
<p>Listar projeto: <a href="projetoEdit.php">Editar projetos</a></p>
<p>Editar projeto: <a href="projetoList.php">Listar projetos</a></p>





<p>Deslogar: <a href="../controllers/logout.php">Sair </a></p>
</body>
</html>